<mat-toolbar color="primary" class="navbar">
    <mat-toolbar-row>
        <a [routerLink]="['/home']">
            <img src="assets/img/A-64.png" width="30" height="30" alt="">
        </a>
        <span class="spacer"></span>
        <div *ngIf="homePage">
            <mat-form-field>
                <mat-label>Buscar héroe</mat-label>
                <input type="text" matInput (keyup.enter)="searchHero(textSearch.value)" placeholder="Ej: Batman" #textSearch>
            </mat-form-field>
            <button mat-stroked-button color="primary" class="search-btn" (click)="searchHero(textSearch.value)">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-stroked-button color="primary" class="search-btn" (click)="searchHero()" *ngIf="filtered">
                <mat-icon>cached</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>