.title {
    display: inline-block;
}

.add-hero {
    display: block;
    float: right;
}

.card {
    display: inline-block;
    margin-top: 1em;
    margin-left: 1em;
    max-width: 17%;
    .buttons-card {
        display: flex;
        align-items: center;
        justify-content: center
    }
    button.button-action-card {
        min-width: 0;
        margin: 0 0 1em 0.8em;
    }
}