<app-navbar (heroesResult)="searchUpdateHeroes($event)"></app-navbar>

<div class="container">
    <h1 class="title"> Héroes <small>Marvel y DC</small></h1>
    <button mat-raised-button color="primary" class="add-hero" (click)="createHero()">
        <mat-icon>add</mat-icon>
        Crear héroe
    </button>
    <mat-divider></mat-divider>
    <ng-container *ngIf="(heroes$ | async) as heroes">
        <mat-card *ngIf="dataNotFound; else elseBlock">No hay superhéroes que coincidan con esa búsqueda.</mat-card>
        <ng-template #elseBlock>
            <mat-card class="card animated fadeIn fast" *ngFor="let hero of heroes">
                <mat-card-header>
                    <mat-card-title>{{ hero.name }}</mat-card-title>
                    <mat-card-subtitle>{{ hero.appearance }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="hero.img" [alt]="hero.name">
                <mat-card-content>
                    <p>{{ hero.bio | truncate:[100, '...']}}</p>
                </mat-card-content>
                <mat-card-actions class="buttons-card">
                    <button mat-raised-button color="primary" class="button-action-card" (click)="seeHero(hero.id)">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button mat-raised-button color="accent" class="button-action-card" (click)="updateHero(hero.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-raised-button color="warn" class="button-action-card" (click)="deleteHero(hero.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-paginator [length]="lengthPaginator" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true" (page)="changePage($event)">
            </mat-paginator>
        </ng-template>
    </ng-container>
</div>