.dialog {
    width: 70vw;
    &__header {
        display: flex;
        justify-content: center;
        font-size: 22px;
        align-items: center;
        mat-icon {
            font-size: 70px;
            color: #ff0000;
            width: 70px;
            height: 70px;
            margin-right: 20px;
        }
        .alert {
            color: var(--green);
        }
    }
    &__content {
        display: flex;
        justify-content: center;
        font-size: 14px;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
        .btn {
            background-color: #3f51b5;
            border: none;
            color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            height: 50px;
            width: 200px;
            outline: none;
            font-size: 1.6rem;
            display: inline-block;
            line-height: 40px;
            text-transform: uppercase;
        }
    }
}