<div class="dialog">
    <div class="dialog__header">
        <mat-icon [class]="data.color">{{ data.iconName }}</mat-icon>
        <span>{{ data.textMessage }}</span>
    </div>
    <div *ngIf="data.decline || data.accept || data.extra" class="dialog__buttons">
        <button *ngIf="data.decline" class="btn" (click)="closeDialog()">
        {{ data.decline }}
      </button>
        <button *ngIf="data.extra" class="btn" (click)="extraDialog()">
        {{ data.extra }}
      </button>
        <button *ngIf="data.accept" class="btn" (click)="acceptDialog()">
        {{ data.accept }}
      </button>
    </div>
</div>