<app-navbar></app-navbar>

<div class="container">
    <ng-container *ngIf="(hero$ | async) as hero">
        <h1 class="title animated fadeIn">{{ hero.name | uppercase }} <small>({{ hero.appearance | date:'y' }})</small></h1>
        <button mat-raised-button color="primary" class="back" (click)="backToHome()">
            <mat-icon>chevron_left</mat-icon>
            Volver
        </button>
        <mat-divider></mat-divider>
        <div class="animated fadeIn fast">
            <mat-grid-list cols="4" rowHeight="220px">
                <mat-grid-tile colspan="1" rowspan="2">
                    <img [src]="hero.img" [alt]="hero.name">
                </mat-grid-tile>
                <mat-divider></mat-divider>
                <mat-grid-tile colspan="3" rowspan="1">
                    <p>{{ hero.bio }}</p>
                </mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="1">
                    <div *ngIf="hero.distributor === 'Marvel'; else elseBlock">
                        <img src="assets/img/marvel-logo.png" alt="Marvel" width="150px">
                    </div>
                    <ng-template #elseBlock>
                        <div>
                            <img src="assets/img/dc-logo.jpg" alt="DC" width="150px">
                        </div>
                    </ng-template>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </ng-container>
</div>