<app-navbar></app-navbar>

<div class="container">
    <h1 class="title animated fadeIn" *ngIf="!configuration; else elseBlock">Crear nuevo superhéroe</h1>
    <ng-template #elseBlock>
        <ng-container *ngIf="(hero$ | async) as hero">
            <h1 class="title animated fadeIn">Editar superhéroe <small>({{ hero.name }})</small></h1>
        </ng-container>
    </ng-template>
    <button mat-raised-button color="primary" class="back" (click)="backToHome()">
        <mat-icon>chevron_left</mat-icon>
        Volver
    </button>
    <mat-divider></mat-divider>
    <div class="animated fadeIn fast">
        <form [formGroup]="heroForm" (ngSubmit)="configureHero(heroId)">
            <mat-form-field appearance="outline">
                <mat-label>Nombre:</mat-label>
                <input type="text" matInput appUppercase [formControl]="name">
                <mat-error *ngIf="name.hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Biografía:</mat-label>
                <input type="text" matInput [formControl]="bio" placeholder="Máximo 200 caracteres">
                <mat-error *ngIf="bio.hasError('required')">Este campo es obligatorio</mat-error>
                <mat-error *ngIf="bio.hasError('maxLength')">No puede superar los 200 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Imagen (URL o Ruta local):</mat-label>
                <input type="text" matInput [formControl]="img">
                <mat-error *ngIf="img.hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Fecha primera aparición</mat-label>
                <input type="text" matInput [formControl]="appearance" placeholder="Ej: 05/06/2021">
                <mat-error *ngIf="appearance.hasError('required')">Este campo es obligatorio</mat-error>
                <mat-error *ngIf="appearance.hasError('pattern')">Debe tener el formato del ejemplo</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Casa</mat-label>
                <mat-select [formControl]="distributor">
                    <mat-option value="Marvel">Marvel</mat-option>
                    <mat-option value="DC">DC</mat-option>
                </mat-select>
                <mat-error *ngIf="distributor.hasError('required')">Es obligatorio seleccionar una casa</mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" *ngIf="!configuration; else elseBlock2">
                <mat-icon>add</mat-icon>
                Crear Héroe
            </button>
            <ng-template #elseBlock2>
                <button type="submit" mat-raised-button color="primary">
                    <mat-icon>edit</mat-icon>
                    Actualizar Héroe
                </button>
            </ng-template>
        </form>
    </div>
</div>